doctype
html
	head
		title Sign In
		script(type='text/javascript')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
		.container
			.main-content
				block content
		footer
			&nbsp;&#169; 2019 Microsoft

