extend layout
block content
	div.topstrip(style="width:80%;padding-bottom:0px; padding-top:60px; padding-left:80px")
			div.header
				a(href="https://www.COMPANY.com")
					img(src="/images/logo.png", style="text-align:middle;")
	div.main(style="width:80%;padding-bottom:0px; padding-top:80px; padding-left:90px")
			<p>#{message}</p>

